.log-in
  .log-in__content
    .header
      .header__icon
        = icon('fab', 'twitter')
      .header__text
        さあ　はじめよう
    .log-in-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-field
          .form-field__label
            = f.label :メールアドレス
          .form-field__form
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'edit-form'
        .form-field
          .form-field__label
            = f.label :パスワード
          .form-field__form
            = f.password_field :password, autocomplete: "current-password", class: 'edit-form'
        .actions
          = f.submit "ログイン", class: 'log-in-button'
    .error-messagre
      = render 'users/shared/error_messages'
    .create-new-account
      .create-new-account__text
        アカウントを持っていない方
      .create-new-account__link
        = link_to new_user_registration_path do
          アカウント作成