.home-menu
  .home-menu__icon
    = link_to root_path do
      = icon('fab', 'twitter')
  - if user_signed_in?
    .home-menu__list
      %li
        = link_to root_path do
          = icon('fas', 'home')
          ホーム
      -# %li
      -#   = link_to '' do
      -#     = icon('fas', 'search')
      -#     話題を検索
      -# %li
      -#   = link_to '' do
      -#     = icon('fas', 'bell')
      -#     通知
      -# %li
      -#   = link_to tweet_path(1) do
      -#     = icon('far', 'envelope')
      -#     メッセージ
      -# %li
      -#   = link_to '' do
      -#     = icon('far', 'bookmark')
      -#     ブックマーク
      -# %li
      -#   = link_to '' do
      -#     = icon('far', 'list-alt')
      -#     リスト
      %li
        = link_to user_path(current_user.id) do
          = icon('far', 'user')
          プロフィール
      -# %li
      -#   = link_to '' do
      -#     = icon('fas', 'chevron-circle-right')
      -#     もっと見る
    .home-menu__tweet
      = link_to '' do
        ツイートする
    .home-menu__user
      = link_to destroy_user_session_path, method: :delete do
        Log out
  - else
    .home-menu__user
      %li
        = link_to new_user_session_path do
          Log in
      %li
        = link_to new_user_registration_path do
          Sign up
