.home
  .header
    .text
      ホーム
    .icon
      = link_to '' do
        = icon('far', 'star')
  .time-line
    .tweet-form
      .icon
      .form
        = form_with model: @tweet do |f|
          .form__field
            = f.text_area :message, placeholder: 'いまどうしてる？'
          .prev-contents
          .form__lower
            .image
              = f.label :image do
                = icon('far', 'image')
                = f.file_field :image, class: 'form-image__hiden'
            .buttom
              = f.submit "ツイートする", class: 'edit-send-button'
              
    .content
      = render "tweets/tweet-list", {tweets: @tweets}