.home-menu
  .home-menu__icon
    = link_to '' do
      = icon('fab', 'twitter')
  .home-menu__list
    %li
      = link_to '' do
        = icon('fas', 'home')
        ホーム
    %li
      = link_to '' do
        = icon('fas', 'search')
        話題を検索
    %li
      = link_to '' do
        = icon('fas', 'bell')
        通知
    %li
      = link_to '' do
        = icon('far', 'envelope')
        メッセージ
    %li
      = link_to '' do
        = icon('far', 'bookmark')
        ブックマーク
    %li
      = link_to '' do
        = icon('far', 'list-alt')
        リスト
    %li
      = link_to '' do
        = icon('far', 'user')
        プロフィール
    %li
      = link_to '' do
        = icon('fas', 'chevron-circle-right')
        もっと見る
  .home-menu__tweet
    = link_to '' do
      ツイートする