.home-menu
  .home-menu__icon
    = link_to root_path do
      = icon('fab', 'twitter')
  - if user_signed_in?
    .home-menu__list
      %li
        = link_to root_path do
          = icon('fas', 'home')
          ホーム
      %li
        = link_to user_path(current_user.id) do
          = icon('far', 'user')
          プロフィール
    .home-menu__tweet
      = link_to '' do
        ツイートする
    .home-menu__user
      = link_to destroy_user_session_path, method: :delete do
        Log out
  - else
    .home-menu__user
      %li
        = link_to new_user_session_path do
          Log in
      %li
        = link_to new_user_registration_path do
          Sign up
