.tweet-list
  - tweets.each do |tweet|
    .tweet
      .tweet__icon
      .tweet__content
        .upper
          .user-name
            = tweet.user.username
          .time
            = tweet.created_at.strftime("%Y/%m/%d %H:%M")
        .text
          = simple_format(tweet.message)
        .image
          = image_tag(tweet.image.url) if tweet.image?
        .button
          %li
            .icon
              = icon('far', 'comment')
            .count
              1
          %li
            .icon
              =icon('fas', 'retweet')
            .count
              2
          %li
            .icon
              = icon('far', 'heart')
            .count
              3
          %li
            .icon
              = icon('far', 'envelope-open')