.tweet-list
  - tweets.each do |tweet|
    .tweet
      .tweet__icon
      .tweet__content
        .upper
          .user-name
            - if tweet.user.username == current_user.username
              = tweet.user.username
            - else
              = link_to user_path(tweet.user.id) do
                = tweet.user.username
          .time
            = tweet.created_at.strftime("%Y/%m/%d %H:%M")
        .text
          = simple_format(tweet.message)
        .image
          = image_tag(tweet.image.url) if tweet.image?
        .like-button
          = render "tweets/likes-button", {tweet: tweet, current_user: current_user}

