.home
  .header
    .text
      = @user.username
  .time-line
    .user-profile
      .user-profile__image
        = @user.image
      .user-profile__icon
        = @user.icon
      .user-profile__edit
        = link_to '' do
          プロフィールを編集
      .user-profile__name
        = @user.username
      .user-profile__text
        - if @user.text?
          = @user.text
        - else
          紹介文は設定されていません

    .content
      = render "tweets/tweet-list", {tweets: @tweets}