.user
  .user__content
    .header
      .header__icon
        = icon('fab', 'twitter')
      .header__text
        新規登録
    .user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .form-field
          .form-field__label
            = f.label :名前
          .form-field__form
            = f.text_field :username, autofocus: true, class: 'edit-form'
        .form-field
          .form-field__label
            = f.label :メールアドレス
          .form-field__form
            = f.email_field :email, class: 'edit-form'
        .form-field
          .form-field__label
            = f.label :パスワード
          .form-field__form
            = f.password_field :password, class: 'edit-form'
        .form-field
          .form-field__label
            = f.label :パスワード確認
          .form-field__form
            = f.password_field :password_confirmation, autocomplete: "off", class: 'edit-form'
        .actions
          = f.submit "登録する", class: 'user-button'
    .create-new-account
      .create-new-account__text
        すでにアカウントをお持ちの方
      .create-new-account__link
        = link_to new_user_session_path do
          ログイン